.edit-profile-img {
    display: flex;
    margin: 32px 0px 0px;
}
.edit-profile-img-border {
    margin: 2px 32px 0px 124px;
    border: 0px;
    border-radius: 50%;
    overflow: hidden;
    width: 38px;
    height: 38px;
}

.edit-profile-img-border img {
    max-width: 38px;
}

.edit-profile-img .username-lb {
    display: flex;
    flex-direction: column;
}

.edit-profile-img .username-lb h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.profile-img-change-btn {
    color: #0095f6;
    font-weight: 500;
}