.profile-header {
    display: flex;
    margin-bottom: 44px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px 0px 70px;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-img img {
    max-width: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-username {
    font-size: 1.7em;
    font-weight: 200;
}

.profile-edit-btn {
    margin-left: 20px;
    padding: 5px 9px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 94px;
    height: 30px;
    background-color: #fafafa;
    font-weight: 400;
    cursor: pointer;
}

#setting-btn {
    margin-left: 5px;
    padding: 8px;
    font-size: 1.5em;
    cursor: pointer;
}

.profile-info-middle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info-middle-item {
    margin-right: 40px;
    font-size: 1.2em;
    font-weight: 300;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-info-middle-item span {
    font-size: 0.85em;
    font-weight: 500;
}

.profile-info-bottom pre{
    font-size: 1.2em;
}

section {
    border-top: 1px solid #dbdbdb;
}

.board-menu {
    display: flex;
}

.board-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1px;
    border-top: 1px solid black;
    width: 57px;
    height: 53px;
}

.board-menu-item i {
    font-size: 0.8em;
}

.board-menu-item span {
    font-size: 1em;
    font-weight: 300;
}

