<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.instagram.domain.user.UserRepository">
	<select id="checkUsernameByUsername" resultType="Integer" parameterType="String">
		select
			count(username)
		from
			user_mst
		where
			username = #{username};
	</select>
	
	<insert id="insertUser" parameterType="com.springboot.instagram.domain.user.User">
		insert into 
			user_mst
		values(
			0,
			#{email},
			#{name},
			#{username},
			#{password},
			#{role},
			now(),
			now()
		);
	</insert>
	
	<select id="getUserByUsername" resultType="com.springboot.instagram.domain.user.User" parameterType="String">
		select
			*
		from
			user_mst
		where
			username = #{username};
	</select>
	
	<select id="getUserDtlById" resultType="com.springboot.instagram.domain.user.UserDtl" parameterType="Integer">
		select
			*
		from
			user_dtl
		where
			id = #{id};
	</select>
	
	<update id="updateUserById" parameterType="com.springboot.instagram.domain.user.User">
		update
			user_mst
		set
			email = #{email},
			name = #{name},
			username = #{username},
			
			update_date = now()
		where
			id = #{id};
	</update>
	
	<update id="updateUserDtlById" parameterType="com.springboot.instagram.domain.user.UserDtl">
		update
			user_dtl
		set
			website = #{website},
			introduction = #{introduction},
			phone = #{phone},
			gender = #{gender},
			profile_img = #{profile_img},
			
			update_date = now()
		where
			id = #{id};
	</update>
</mapper>





